@model List<ENetCareMVC.Repository.Data.DistributionCentreLosses>

@{string style1 = "style='width:120px; font-size:17px;'";}

@{
    ViewBag.Title = "ReportA";
}

<h2>ReportA</h2>
<tr><td></td>    <td @style1>Centre Name</td>    <td @style1>Losses Value</td></tr>


<table>
    @for (int i = 0; i < Model.Count; i++)
    {
        string style2 = "style='background-color:lightgray;'";
        var rowObj = Model[i];
        <tr>
            <td @style2>  </td>
            <td @style2>@rowObj.DistributionCenterName</td>
            <td @style2>@rowObj.TotalLossDiscardedValue</td>
        </tr>
    }

    <tr><td></td>    <td>Total</td>    <td></td></tr>
</table>

<br /><br />number of rows: @Model.Count();
