@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<div>
            <br /><br />
            <h1>Enet Care Management System</h1>
            <br />Version 1.2<br /><br /><br /><br />
                <table style="text-align:left; width:250px; align-self:center; margin-left:auto; margin-right:auto;">
        <tr>
            <td style="text-align:left;">
                               <h3> Developed by </h3>
                                <ul>                   
                    <li> Ben Rogers </li>
                    <li> Ihab Mayaz Khan </li>                    
                    <li> Ramin Hafezi </li>                   
                    <li> Pablo Etchandy </li>                   
                </ul>
                                <h2><br /><br /><br /><br /> UTS - June 2015 </h2>
                
            </td>
        </tr>
    </table>
</div>


