@model ENetCareMVC.Web.Models.PackageDistributeViewModel

@{
    ViewBag.Title = "Distribute";
}

<h2>Distribute</h2>

@using (Html.BeginForm("Distribute", "Package", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Distribute a Package.</h4>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    Html.RenderPartial("_selectedBarCodesPartial", (ENetCareMVC.Web.Models.ISelectedBarCodesViewModel)Model);

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Save" name="action" />
            <input type="submit" class="btn btn-default" value="Close" name="action" />
        </div>
    </div>

}