@model ENetCareMVC.Web.Models.PackageDistributeViewModel

@{
    ViewBag.Title = "Distribute Complete";
}

<h2>Distribute Complete</h2>

<h4>Distribute Packages Completed.</h4>

Html.RenderPartial("_resultsBarCodesPartial", (ENetCareMVC.Web.Models.ISelectedBarCodesViewModel)Model);
