@model ENetCareMVC.Web.Models.PackageRegisterViewModel

@{
    ViewBag.Title = "Register Complete";
}

<h2>Register Complete</h2>

<img src="~/images/barcode/@Model.BarCode/default.gif" width="400" height="150" alt="IMAGES" />

<br/>

@Model.BarCode


