@model ENetCareMVC.Web.Models.AuditPromptViewModel

@{
    ViewBag.Title = "Audit Display";
}

<h2>Audit Display</h2>

<br />
Package Type: @Model.StandardPackageTypeId
<br />
Distribution Centre: @Model.DestinationCentreId

