@model ENetCareMVC.Web.Models.AuditPromptViewModel

@{
    ViewBag.Title = "Audit Prompt";
}

<h2>Audit Prompt</h2>

@using (Html.BeginForm("Prompt", "Audit", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Prompt for an Audit</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.StandardPackageTypeId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.StandardPackageTypeId,
                new SelectList(Model.StandardPackageTypes, "PackageTypeId", "Description"),
                "-- Please select an item --",
                new
                  {
                      onchange = @"
                            var form = document.forms[0]; 
                            form.action='AuditChangePackageType';
                            form.submit();"
                  })
        </div>
    </div>

    Html.RenderPartial("_selectedBarCodesPartial", (ENetCareMVC.Web.Models.ISelectedBarCodesViewModel)Model);

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Next" name="action" />
            <input type="submit" class="btn btn-default" value="Close" name="action" />
        </div>
    </div>
}

<script type="text/javascript">

    $('#datetimepicker1').datetimepicker({format: 'DD-MM-YYYY'});

</script>

