@model ENetCareMVC.Web.Models.PackageTransitReceiveViewModel

@{
    ViewBag.Title = "ReceiveComplete";
}

<h2>Send Complete</h2>

@{ Html.RenderPartial("_resultsBarCodesPartial", (ENetCareMVC.Web.Models.ISelectedBarCodesViewModel)Model);}


