@model ENetCareMVC.Web.Models.PackageTransitSendViewModel

@{
    ViewBag.Title = "SendComplete";
}

<h2>Send Complete</h2>

@{ Html.RenderPartial("_resultsBarCodesPartial", (ENetCareMVC.Web.Models.ISelectedBarCodesViewModel)Model);}



